<!-- <section class="content">
  <div class="content-block">
    <div class="block-header">
      <div class="breadcrumb-main">
        <div class="row">
          <div class="col-md-6 mb-2">
            <span class="mb-0 page-title">{{'ADD_DOCUMENT' | translate}}
              <app-page-help-text code="ADD_DOCUMENT"></app-page-help-text>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <form [formGroup]="documentForm">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-label">{{'DOCUMENT_UPLOAD' | translate}}</label>
                  <input class="form-control" #file (change)="upload(file.files)" type="file">
                  <div *ngIf="documentForm.get('url').touched && documentForm.get('url')?.errors">
                    <div class="text-danger"
                      *ngIf="documentForm.get('url').touched  && documentForm.get('url').errors?.['required']">
                      {{'DOCUMENT_IS_REQUIRED' | translate}}
                    </div>
                  </div>
                  <div
                    *ngIf="(documentForm.get('extension').touched || documentForm.get('extension').dirty) && documentForm.get('url').errors">
                    <div class="text-danger" *ngIf="documentForm.get('extension').errors?.['required']">
                      {{'DOCUMENT_TYPE_IS_NOT_ALLOWED' | translate}}
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <label class="form-label">{{'NAME' | translate}}</label>
                  <input formControlName="name" class="form-control" type="text">
                  <div class="text-danger"
                    *ngIf="documentForm.get('name').touched && documentForm.get('name')?.hasError('required')">
                    {{'NAME_IS_REQUIRED' | translate}}
                  </div>
                </div>
                <div class="col-md-3">
                  <label class="form-label">{{'CATEGORY' | translate}}</label>
                  <ng-select formControlName="categoryId" placeholder="{{'CATEGORY' | translate}}">
                    <ng-option *ngFor="let category of categoryStore.categories()" [value]="category.id">
                      <div class="country-item"
                        [ngStyle]="this.direction === 'rtl'? {'margin-right.px': category.deafLevel* 20} : {'margin-left.px': category.deafLevel* 20}">
                        <div *ngIf="!category.parentId">
                          <b> {{category.name}}</b>
                        </div>
                        <div *ngIf="category.parentId">
                          {{category.name}}
                        </div>
                      </div>
                    </ng-option>
                  </ng-select>
                  <div class="text-danger"
                    *ngIf="documentForm.get('categoryId').touched && documentForm.get('categoryId').hasError('required')">
                    {{'CATEGORY_IS_REQUIRED' | translate}}
                  </div>
                </div>
                <div class="col-md-3">
                  <label class="form-label">{{'STORAGE' | translate}}</label>
                  <ng-select formControlName="location" [clearable]="false">
                    <ng-option [value]="'local'">{{'LOCAL' | translate}}</ng-option>
                    <ng-option *ngIf="isS3Supported" [value]="'s3'">{{'S3' | translate}}</ng-option>
                  </ng-select>
                </div>
                <div class="col-md-3">
                  <label class="form-label">{{ 'DOCUMENT_STATUS' | translate }}</label>
                  <ng-select formControlName="statusId" [searchable]="true"
                    placeholder="{{ 'NONE' | translate }}">
                    <ng-option *ngFor="let documentStatus of documentstatusStore.statusList()" [value]="documentStatus.id">
                      <span [ngStyle]="{'color': documentStatus?.colorCode}"> {{ documentStatus.name }} </span>
                    </ng-option>
                  </ng-select>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="form-label">{{ 'CLIENT' | translate }}</label>
                    <ng-select formControlName="clientId" placeholder="{{'CLIENT' | translate}}">
                      <ng-option *ngFor="let client of clientStore.clients()" [value]="client.id">
                        <span> {{ client.companyName }} </span>
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-3">
                  <ng-container formArrayName="documentMetaTags"
                    *ngFor="let documentmetatag of documentMetaTagsArray.controls; let i=index">
                    <ng-container [formGroupName]="i">
                      <div class="row">
                        <div class="col">
                          <label class="form-label" *ngIf="i===0"> {{'META_TAGS' | translate}} </label>
                          <div class="input-group m-b-10">
                            <input (change)="onMetatagChange($event,i)" formControlName="metatag" class="form-control"
                              type="text">
                            <button *ngIf="i===0" (click)="onAddAnotherMetaTag()" class="btn btn-outline-success"
                              type="button"> <i-feather name="plus" class="small-icon"></i-feather></button>
                            <button *ngIf="i!==0" (click)="onDeleteMetaTag(i)" class="btn btn-outline-danger"
                              type="button"><i-feather name="trash" class="small-icon"></i-feather></button>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
                <div class="col-md-12">
                  <label class="form-label">{{'DESCRIPTION' | translate}}</label>
                  <textarea formControlName="description" class="form-control">
                  </textarea>
                </div>
                <div class="col-md-6" *hasClaim="'ALL_DOCUMENTS_SHARE_DOCUMENT'">
                  <h6 class="vew-mail-header">{{'ASSIGN_SHARE_WITH_ROLES' | translate}}</h6>
                  <ng-select [multiple]="true" formControlName="selectedRoles">
                    <ng-option *ngFor="let role of roles" [value]="role">{{role.name}}</ng-option>
                  </ng-select>
                  <ng-container *ngIf="documentForm.get('selectedRoles')?.value?.length > 0"
                    formGroupName="rolePermissionForm">
                    <div class="row">
                      <mat-checkbox (change)="roleTimeBoundChange($event)" color="primary"
                        formControlName="isTimeBound">
                        {{'SPACIFY_THE_PERIOD' | translate}}</mat-checkbox>
                    </div>
                    <div class="row" *ngIf="rolePermissionFormGroup.get('isTimeBound').value">
                      <div class="col-md-6">
                        <input [min]="minDate" class="form-control" placeholder="{{'CHOOSE_A_START_DATE' | translate}}"
                          formControlName="startDate" [owlDateTimeTrigger]="date1" [owlDateTime]="date1">
                        <owl-date-time #date1></owl-date-time>
                        <mat-error class="text-danger"
                          *ngIf="rolePermissionFormGroup.get('startDate').touched && rolePermissionFormGroup.get('startDate').hasError('required')">
                          {{'START_DATE_IS_REQURED' | translate}}
                        </mat-error>
                      </div>
                      <div class="col-md-6">
                        <input [min]="rolePermissionFormGroup.get('startDate').value" class="form-control"
                          placeholder="{{'CHOOSE_A_END_DATE' | translate}}" formControlName="endDate"
                          [owlDateTimeTrigger]="date2" [owlDateTime]="date2">
                        <owl-date-time #date2></owl-date-time>
                        <mat-error class="text-danger"
                          *ngIf="rolePermissionFormGroup.get('startDate').touched && rolePermissionFormGroup.get('endDate').hasError('required')">
                          {{'END_DATE_IS_REQURED' | translate}}
                        </mat-error>
                      </div>
                    </div>
                    <div class="row">
                      <mat-checkbox color="primary" formControlName="isAllowDownload">{{'ALLOW_DOWNLOAD' |
                        translate}}</mat-checkbox>
                    </div>
                  </ng-container>
                </div>
                <div class="col-md-6" *hasClaim="'ALL_DOCUMENTS_SHARE_DOCUMENT'">
                  <h6 class="vew-mail-header">{{'ASSIGN_SHARE_WITH_USERS' | translate}}</h6>
                  <ng-select [multiple]="true" formControlName="selectedUsers">
                    <ng-option *ngFor="let user of users" [value]="user">{{user.firstName}}
                      {{user.lastName}}</ng-option>
                  </ng-select>
                  <ng-container *ngIf="documentForm.get('selectedUsers')?.value?.length > 0"
                    formGroupName="userPermissionForm">
                    <div class="row">
                      <mat-checkbox (change)="userTimeBoundChange($event)" color="primary"
                        formControlName="isTimeBound">
                        {{'SPACIFY_THE_PERIOD' | translate}}</mat-checkbox>
                    </div>
                    <div class="row" *ngIf="userPermissionFormGroup.get('isTimeBound').value">
                      <div class="col-md-6">
                        <input [min]="minDate" class="form-control" placeholder="{{'CHOOSE_A_START_DATE' | translate}}"
                          formControlName="startDate" [owlDateTimeTrigger]="date1" [owlDateTime]="date1">
                        <owl-date-time #date1></owl-date-time>
                        <mat-error class="text-danger"
                          *ngIf="userPermissionFormGroup.get('startDate').touched && userPermissionFormGroup.get('startDate').hasError('required')">
                          {{'START_DATE_IS_REQURED' | translate}}
                        </mat-error>
                      </div>
                      <div class="col-md-6">
                        <input [min]="userPermissionFormGroup.get('startDate').value" class="form-control"
                          placeholder="{{'CHOOSE_A_END_DATE' | translate}}" formControlName="endDate"
                          [owlDateTimeTrigger]="date2" [owlDateTime]="date2">
                        <owl-date-time #date2></owl-date-time>
                        <mat-error class="text-danger"
                          *ngIf="userPermissionFormGroup.get('startDate').touched && userPermissionFormGroup.get('endDate').hasError('required')">
                          {{'END_DATE_IS_REQURED' | translate}}
                        </mat-error>
                      </div>
                    </div>
                    <div class="row">
                      <mat-checkbox color="primary" formControlName="isAllowDownload">{{'ALLOW_DOWNLOAD' |
                        translate}}</mat-checkbox>
                    </div>
                  </ng-container>
                </div>
                <div class="m-t-10 col-md-12">
                  <button *hasClaim="'ALL_DOCUMENTS_CREATE_DOCUMENT'" class="btn btn-success btn-sm m-r-10"
                    (click)="SaveDocument()" cdkFocusInitial>
                    <i-feather name="save" class="small-icon"></i-feather>
                    {{'SAVE' | translate}}</button>
                  <button type="button" class="btn btn-danger btn-sm" [routerLink]="['/documents']">
                    <i-feather name="x-circle" class="small-icon"></i-feather>
                    {{'CANCEL' | translate}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->



<section class="content">
  <div class="content-block">
    <div class="block-header">
      <div class="breadcrumb-main">
        <div class="row">
          <div class="col-md-6 mb-2">
            <span class="mb-0 page-title">{{ "ADD_DOCUMENT" | translate }}
              <app-page-help-text code="ADD_DOCUMENT"></app-page-help-text>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="body">
            <form [formGroup]="documentForm">
              <div class="row">
                <!-- Template Selection -->
                <div class="col-md-12 mb-2">
                  <label class="form-label">Template Selection</label>
                  <div class="template-selector">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" id="template1" value="template1"
                        formControlName="templateType" checked>
                      <label class="form-check-label" for="template1">Template 1</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" id="template2" value="template2"
                        formControlName="templateType">
                      <label class="form-check-label" for="template2">Template 2</label>
                    </div>
                  </div>
                </div>

                <div class="row align-items-start">
                  <div class="col-md-8">
                    <div class="row">
                      <!-- Subject Field -->
                      <div class="col-md-8 mb-3">
                        <label class="form-label">Subject</label>
                        <input formControlName="subject" class="form-control" type="text" placeholder="Enter subject">
                        <div class="text-danger" *ngIf="
                            documentForm.get('subject').touched &&
                            documentForm.get('subject')?.hasError('required')
                          ">
                          Subject is required
                        </div>
                      </div>
                      <!-- Department Selection -->
                      <!-- <div class="col-md-4 mb-3">
                        <label class="form-label">Recipient Department</label>
                        <ng-select formControlName="categoryId" placeholder="Select Department" [clearable]="false">
                          <ng-option *ngFor="let category of allCategories" [value]="category.id">
                            <div class="country-item" [ngStyle]="
                                                        this.direction === 'rtl'
                                                          ? { 'margin-right.px': category.deafLevel * 20 }
                                                          : { 'margin-left.px': category.deafLevel * 20 }
                                                      ">
                              <div *ngIf="!category.parentId">
                                <b> {{ category.name }}</b>
                              </div>
                              <div *ngIf="category.parentId">
                                {{ category.name }}
                              </div>
                            </div>
                          </ng-option>
                        </ng-select>
                        <div class="text-danger" *ngIf="
                                                    documentForm.get('categoryId').touched &&
                                                    documentForm.get('categoryId').hasError('required')
                                                  ">
                          Department is required
                        </div>
                      </div> -->

                      <!-- Content Editor -->
                      <div class="col-md-12">
                        <label class="form-label">Content</label>
                        <div style="position: relative;">
                          <!-- <div (click)="openAiModal()"
                            style="cursor: pointer; position: absolute; top: -10px; right: 3px; background-color: white; border: 2px solid #ddd; border-radius: 50%; width: 24px; height: 24px; display: flex; align-items: center; justify-content: center; z-index: 1;">
                            <span style="color: #ff0000; font-weight: bold; font-size: 12px;">AI</span>
                          </div> -->
                          <div class="quill-editor-container">
                            <div id="quill-editor"></div>
                            <input type="hidden" formControlName="content">
                          </div>
                        </div>
                        <div class="text-danger" *ngIf="
                            documentForm.get('content').touched &&
                            documentForm.get('content')?.hasError('required')
                          ">
                          Content is required
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Preview Box -->
                  <div class="col-md-4">
                    <div class="preview-box" style="transform: scale(0.9); transform-origin: top center;">
                      <!-- Template 1 -->
                      <div *ngIf="documentForm.get('templateType').value === 'template1'">
                        <div class="letterhead text-center">
                          <img src="assets/images/nipss.png" alt="NIPSS Logo" class="letterhead-logo"
                            style="max-width: 75px !important; height: auto !important;">
                          <h4 class="mt-2 mb-0" style="font-size: 14px;">NATIONAL INSTITUTE</h4>
                          <p class="mb-1" style="font-size: 12px; font-style: italic; margin-top: 2px;">
                            <!-- {{ userDepartment.includes('Dept') ? userDepartment : userDepartment + ' Department' }} -->
                            {{ userDepartment }} Department
                          </p> 
                          <p class="department-name mb-1" *ngIf="documentForm.get('categoryId').value"
                            style="font-size: 11px;">
                            {{ getCategoryName(documentForm.get('categoryId').value) }}
                          </p>
                          <h5 class="memorandum-header mb-1" style="font-size: 12px;">MEMORANDUM</h5>
                        </div>
                        <div class="memo-details"
                          style="background-color: #f5f5f5 !important; padding: 8px; font-size: 10px; margin-top: -15px;">
                          <div class="row mb-1">
                            <div class="col-3" style="font-size: 10px;"><strong>To:</strong></div>
                            <div class="col-9" style="font-size: 10px;">
                              {{ getSelectedToUsersString() }}
                            </div>
                          </div>
                          <div class="row mb-1">
                            <div class="col-3" style="font-size: 10px;"><strong>Through:</strong></div>
                            <div class="col-9" style="font-size: 10px;">
                              {{ getSelectedThroughUsersString() }}
                            </div>
                          </div>
                          <div class="row mb-1">
                            <div class="col-3" style="font-size: 10px;"><strong>From:</strong></div>
                            <div class="col-9" style="font-size: 10px;">
                              {{ getCurrentUser() }}
                            </div>
                          </div>
                          <div class="row mb-1">
                            <div class="col-3" style="font-size: 10px;"><strong>Date:</strong></div>
                            <div class="col-9" style="font-size: 10px;">
                              {{ getCurrentDate() | date:'mediumDate' }}
                            </div>
                          </div>
                          <div class="row mb-1">
                            <div class="col-3" style="font-size: 10px;"><strong>Subject:</strong></div>
                            <div class="col-9" style="font-size: 10px;">
                              {{ documentForm.get('subject').value }}
                            </div>
                          </div>
                        </div>
                        <div class="preview-content mt-2">
                          <div class="preview-body" [innerHTML]="documentForm.get('content').value"
                            style="font-size: 10px;"></div>
                          
                          <!-- Signature Preview -->
                          <div class="signature-preview mt-3" *ngIf="signatureImageUrl"
                            [ngStyle]="{
                              'text-align': documentForm.get('signaturePosition').value,
                              'margin-top': '20px',
                              'padding-left': documentForm.get('signaturePosition').value === 'left' ? '0' : 
                                            documentForm.get('signaturePosition').value === 'right' ? '65%' : 'initial',
                              'padding-right': documentForm.get('signaturePosition').value === 'left' ? '80%' : 'initial',
                              'margin-left': documentForm.get('signaturePosition').value === 'left' ? '-9%' : 'initial'
                            }">
                            <img [src]="signatureImageUrl" 
                                 alt="Signature" 
                                 style="max-height: 60px; max-width: 200px;"
                                 (load)="onPreviewImageLoad($event)"
                                 (error)="onPreviewImageError($event)">
                          </div>
                        </div>
                      </div>

                      <!-- Template 2 - Official Letterhead -->
                      <div *ngIf="documentForm.get('templateType').value === 'template2'" class="template2-preview">
                        <div class="official-letterhead">
                          <div class="row" style="margin-left: -30px; margin-right: -15px;">
                            <div class="col-2">
                              <img src="assets/images/nipss.png" alt="NIPSS Logo" class="letterhead-logo-left"
                                style="max-width: 65px !important; height: auto !important; margin-top: -5px;">
                            </div>
                            <div class="col-10" style="padding-left: 0;">
                              <div class="d-flex flex-column">
                                <div>
                                  <h4 style="font-size: 9px; font-weight: bold; text-transform: uppercase; margin-bottom: 8px; letter-spacing: -0.2px;">
                                    NATIONAL INSTITUTE FOR POLICY AND STRATEGIC STUDIES, KURU
                                  </h4>
                                </div>
                                <div class="letterhead-contact-details" style="font-size: 8px; line-height: 1.4; text-align: left; padding-left: 38%;">
                                  <p class="mb-0">PMB 2024, Bukuru, Plateau State, Nigeria</p>
                                  <p class="mb-0">Email: info&#64;nipsskuru.gov.ng</p>
                                  <p class="mb-0">Date: {{ getCurrentDate() | date:'mediumDate' }}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="official-letter-content" style="margin-top: 20px; padding: 0 15px;">
                          <div *ngIf="documentForm.get('subject').value" style="margin-bottom: 10px;">
                            <p style="font-size: 11px; font-weight: bold; text-align: center;">
                              {{ documentForm.get('subject').value | uppercase }}
                            </p>
                          </div>
                          <div class="preview-body" [innerHTML]="documentForm.get('content').value"
                            style="font-size: 10px;"></div>
                          
                          <!-- Signature Preview -->
                          <div class="signature-preview mt-3" *ngIf="signatureImageUrl"
                            [ngStyle]="{
                              'text-align': documentForm.get('signaturePosition').value,
                              'margin-top': '20px',
                              'padding-left': documentForm.get('signaturePosition').value === 'left' ? '0' : 
                                            documentForm.get('signaturePosition').value === 'right' ? '65%' : 'initial',
                              'padding-right': documentForm.get('signaturePosition').value === 'left' ? '80%' : 'initial',
                              'margin-left': documentForm.get('signaturePosition').value === 'left' ? '-9%' : 'initial'
                            }">
                            <img [src]="signatureImageUrl" 
                                 alt="Signature" 
                                 style="max-height: 60px; max-width: 200px;"
                                 (load)="onPreviewImageLoad($event)"
                                 (error)="onPreviewImageError($event)">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Sharing Options -->
                <div class="col-md-12 mt-4">
                  <div class="row sharing-options-container">
                    <!-- To -->
                    <div class="col-md-3 sharing-field">
                      <h6 class="vew-mail-header">{{'To:' | translate}}</h6>
                      <ng-select [multiple]="true" formControlName="selectedToUsers" class="compact-select">
                        <ng-option *ngFor="let user of userStore.formattedUserPositions()" [value]="user">
                          {{user.displayName}}
                        </ng-option>
                      </ng-select>
                      <ng-container *ngIf="documentForm.get('selectedToUsers')?.value?.length > 0"
                        formGroupName="toUserPermissionForm">
                        <div class="row">
                          <mat-checkbox (change)="toUserTimeBoundChange($event)" color="primary"
                            formControlName="isTimeBound">
                            {{'Specify the period' | translate}}</mat-checkbox>
                        </div>
                        <div class="row" *ngIf="toUserPermissionFormGroup.get('isTimeBound').value">
                          <div class="col-md-6">
                            <input [min]="minDate" class="form-control" placeholder="{{'Start Date' | translate}}"
                              formControlName="startDate" [owlDateTimeTrigger]="date1" [owlDateTime]="date1">
                            <owl-date-time #date1></owl-date-time>
                            <mat-error class="text-danger"
                              *ngIf="toUserPermissionFormGroup.get('startDate').touched && toUserPermissionFormGroup.get('startDate').hasError('required')">
                              {{'START_DATE_IS_REQURED' | translate}}
                            </mat-error>
                          </div>
                          <div class="col-md-6">
                            <input [min]="toUserPermissionFormGroup.get('startDate').value" class="form-control"
                              placeholder="{{'End Date' | translate}}" formControlName="endDate"
                              [owlDateTimeTrigger]="date2" [owlDateTime]="date2">
                            <owl-date-time #date2></owl-date-time>
                            <mat-error class="text-danger"
                              *ngIf="toUserPermissionFormGroup.get('startDate').touched && toUserPermissionFormGroup.get('endDate').hasError('required')">
                              {{'END_DATE_IS_REQURED' | translate}}
                            </mat-error>
                          </div>
                        </div>
                        <div class="row">
                          <mat-checkbox color="primary" formControlName="isAllowDownload">{{'ALLOW_DOWNLOAD' |
                            translate}}</mat-checkbox>
                        </div>
                      </ng-container>
                    </div>

                    <!-- Through: -->
                    <div class="col-md-3 sharing-field">
                      <h6 class="vew-mail-header">{{'Through:' | translate}}</h6>
                      <ng-select [multiple]="true" formControlName="selectedThroughUsers" class="compact-select">
                        <ng-option *ngFor="let user of userStore.formattedUserPositions()" [value]="user">
                          {{user.displayName}}
                        </ng-option>
                      </ng-select>
                      <ng-container *ngIf="documentForm.get('selectedThroughUsers')?.value?.length > 0"
                        formGroupName="throughUserPermissionForm">
                        <div class="row">
                          <mat-checkbox (change)="throughUserTimeBoundChange($event)" color="primary"
                            formControlName="isTimeBound">
                            {{'Specify the period' | translate}}</mat-checkbox>
                        </div>
                        <div class="row" *ngIf="throughUserPermissionFormGroup.get('isTimeBound').value">
                          <div class="col-md-6">
                            <input [min]="minDate" class="form-control" placeholder="{{'Start Date' | translate}}"
                              formControlName="startDate" [owlDateTimeTrigger]="date3" [owlDateTime]="date3">
                            <owl-date-time #date3></owl-date-time>
                            <mat-error class="text-danger"
                              *ngIf="throughUserPermissionFormGroup.get('startDate').touched && throughUserPermissionFormGroup.get('startDate').hasError('required')">
                              {{'START_DATE_IS_REQURED' | translate}}
                            </mat-error>
                          </div>
                          <div class="col-md-6">
                            <input [min]="throughUserPermissionFormGroup.get('startDate').value" class="form-control"
                              placeholder="{{'End Date' | translate}}" formControlName="endDate"
                              [owlDateTimeTrigger]="date4" [owlDateTime]="date4">
                            <owl-date-time #date4></owl-date-time>
                            <mat-error class="text-danger"
                              *ngIf="throughUserPermissionFormGroup.get('startDate').touched && throughUserPermissionFormGroup.get('endDate').hasError('required')">
                              {{'END_DATE_IS_REQURED' | translate}}
                            </mat-error>
                          </div>
                        </div>
                        <div class="row">
                          <mat-checkbox color="primary" formControlName="isAllowDownload">{{'ALLOW_DOWNLOAD' |
                            translate}}</mat-checkbox>
                        </div>
                      </ng-container>
                    </div>

                    <!-- Role Sharing -->
                    <!-- <div class="col-md-3 sharing-field">
                      <h6 class="vew-mail-header">{{'Share with roles' | translate}}</h6>
                      <ng-select [multiple]="true" formControlName="selectedRoles" class="compact-select">
                        <ng-option *ngFor="let role of roles" [value]="role">{{role.name}}</ng-option>
                      </ng-select>
                      <ng-container *ngIf="documentForm.get('selectedRoles')?.value?.length > 0"
                        formGroupName="rolePermissionForm">
                        <div class="row">
                          <mat-checkbox (change)="roleTimeBoundChange($event)" color="primary"
                            formControlName="isTimeBound">
                            {{'SPACIFY_THE_PERIOD' | translate}}</mat-checkbox>
                        </div>
                        <div class="row" *ngIf="rolePermissionFormGroup.get('isTimeBound').value">
                          <div class="col-md-6">
                            <input [min]="minDate" class="form-control"
                              placeholder="{{'Start Date' | translate}}" formControlName="startDate"
                              [owlDateTimeTrigger]="date5" [owlDateTime]="date5">
                            <owl-date-time #date5></owl-date-time>
                            <mat-error class="text-danger"
                              *ngIf="rolePermissionFormGroup.get('startDate').touched && rolePermissionFormGroup.get('startDate').hasError('required')">
                              {{'START_DATE_IS_REQURED' | translate}}
                            </mat-error>
                          </div>
                          <div class="col-md-6">
                            <input [min]="rolePermissionFormGroup.get('startDate').value" class="form-control"
                              placeholder="{{'End Date' | translate}}" formControlName="endDate"
                              [owlDateTimeTrigger]="date6" [owlDateTime]="date6">
                            <owl-date-time #date6></owl-date-time>
                            <mat-error class="text-danger"
                              *ngIf="rolePermissionFormGroup.get('startDate').touched && rolePermissionFormGroup.get('endDate').hasError('required')">
                              {{'END_DATE_IS_REQURED' | translate}}
                            </mat-error>
                          </div>
                        </div>
                        <div class="row">
                          <mat-checkbox color="primary" formControlName="isAllowDownload">{{'ALLOW_DOWNLOAD' |
                            translate}}</mat-checkbox>
                        </div>
                      </ng-container>
                    </div> -->
                  </div>
                </div>

                <!-- Signature Upload -->
                <div class="col-md-6 ms-2">
                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <label class="form-label">Signature</label>
                      <div class="d-flex align-items-center">
                        <!-- Signature Selection Dropdown -->
                        <select class="form-control me-2" formControlName="selectedSignature" (change)="onSignatureSelect($event)">
                          <option value="">Select a signature</option>
                          <option *ngFor="let sig of savedSignatures" [value]="sig.id">{{sig.name}}</option>
                        </select>
                        
                        <!-- Manage Signatures Button -->
                        <button type="button" class="btn btn-outline-primary" (click)="openSignatureManager()">
                          <i-feather name="settings" class="small-icon"></i-feather>
                          Manage
                        </button>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label">Signature Position</label>
                      <select class="form-control" formControlName="signaturePosition">
                        <option value="left">Left</option>
                        <option value="center">Center</option>
                        <option value="right">Right</option>
                      </select>
                    </div>
                  </div>
                </div>

                <!-- Document Upload -->
                <div class="col-md-3 ms-2">
                  <label class="form-label">{{'Document Upload (Optional)' | translate}}</label>
                  <input class="form-control" #file (change)="upload(file.files)" type="file">
                  <div
                    *ngIf="(documentForm.get('extension').touched || documentForm.get('extension').dirty) && documentForm.get('url').errors">
                    <div class="text-danger" *ngIf="documentForm.get('extension').errors?.['required']">
                      {{'DOCUMENT_TYPE_IS_NOT_ALLOWED' | translate}}
                    </div>
                  </div>
                </div>


                <!-- Action Buttons -->
                <div class="col-md-12 mt-4 text-center">
                  <button class="btn btn-success btn-lg m-r-10" style="padding: 10px 30px; font-size: 1.1rem;" (click)="SaveDocument()" [disabled]="loading" cdkFocusInitial>
                    <i-feather *ngIf="!loading" name="save" class="small-icon"></i-feather>
                    <span *ngIf="loading"><i class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></i></span>
                    {{ "Send" | translate }}
                  </button>
                  <button type="button" class="btn btn-danger btn-lg" style="padding: 10px 30px; font-size: 1.1rem;" [routerLink]="['/']">
                    <i-feather name="x-circle" class="small-icon"></i-feather>
                    {{ "CANCEL" | translate }}
                  </button>
                  <!-- <button class="btn btn-primary btn-lg m-l-10" style="padding: 10px 30px; font-size: 1.1rem;" (click)="exportToPDF()">
                    <i-feather name="download" class="small-icon"></i-feather>
                    Export PDF
                  </button> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- AI Prompt Modal -->
<div class="modal" [class.show]="showModal" [style.display]="showModal ? 'block' : 'none'" tabindex="-1" role="dialog"
  aria-labelledby="aiPromptModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aiPromptModalLabel">AI Content Generator</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="aiPromptInput">Enter your prompt</label>
          <textarea [(ngModel)]="aiPrompt" id="aiPromptInput" class="form-control" rows="4"
            placeholder="Describe what you want the AI to generate..." [ngModelOptions]="{standalone: true}"></textarea>
          <div *ngIf="errorMessage" class="alert alert-danger mt-2">
            {{ errorMessage }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeAiModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="generateContent()" [disabled]="isGenerating">
          <span *ngIf="!isGenerating">Generate</span>
          <span *ngIf="isGenerating">
            <i class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></i> Generating...
          </span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal backdrop -->
<div class="modal-backdrop fade show" *ngIf="showModal"></div>

<!-- Quill Editor Assets -->
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

<!-- Result Display Section -->
<div class="row mt-4" *ngIf="resultArray.length > 0">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">Document Upload Results</h5>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>File Name</th>
                <th>Status</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of resultArray; let i = index">
                <td>{{file.name}}</td>
                <td>
                  <span *ngIf="file.isSuccess" class="badge bg-success">Success</span>
                  <span *ngIf="!file.isSuccess" class="badge bg-danger">Failed</span>
                </td>
                <td>{{file.message}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Files Pending Upload Section -->
<div class="row mt-3" *ngIf="fileInputs.controls.length > 0">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">Files Ready to Upload</h5>
      </div>
      <div class="card-body">
        <ul formArrayName="files" class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let file of fileInputs.controls; let i = index">
            <div class="row w-100" [formGroupName]="i">
              <div class="col-md-6">
                <div class="form-group">
                  <input formControlName="name" class="form-control" type="text"
                         placeholder="{{ 'SELECTED_FILE_NAME' | translate }}"
                         [value]="file.get('name').value" />
                </div>
                <div *ngIf="file.get('name').touched && file.get('name').errors">
                  <div class="text-danger" *ngIf="file.get('name').errors?.['required']">
                    {{ "NAME_IS_REQUIRED" | translate }}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <button class="btn btn-danger btn-sm" type="button" (click)="removeFile(i)">
                  <i-feather *ngIf="!file.get('isLoading').value" name="trash" class="small-icon"></i-feather>
                  <i-feather *ngIf="file.get('isLoading').value" name="loader" class="small-icon"></i-feather>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Add Signature Management Modal -->
<div class="modal" [class.show]="showSignatureModal" [style.display]="showSignatureModal ? 'block' : 'none'" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Manage Signatures</h5>
        <button type="button" class="btn-close" (click)="closeSignatureModal()"></button>
      </div>
      <div class="modal-body">
        <!-- Add New Signature Section -->
        <div class="mb-4 p-3 border rounded shadow-sm">
          <h6 class="mb-3">Add New Signature</h6>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Signature Name</label>
                <input type="text" class="form-control" [(ngModel)]="newSignatureName" placeholder="e.g., Official Signature">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="form-label">Upload File</label>
                <input class="form-control" type="file" (change)="onNewSignatureSelect($event)" accept="image/*">
                <small class="text-muted">Max file size: 2MB. Supported formats: PNG, JPG, JPEG, GIF</small>
              </div>
            </div>
          </div>
          <!-- Preview of new signature -->
          <div *ngIf="tempSignatureUrl" class="mt-3">
            <label>Preview:</label>
            <img [src]="tempSignatureUrl" class="img-fluid" style="max-height: 100px;" alt="New signature preview">
          </div>
          <div class="mt-3 text-center">
            <button class="btn btn-primary" (click)="addNewSignature()" [disabled]="!newSignatureName || !newSignatureFile">
              <i-feather name="plus" class="small-icon"></i-feather>
              Add Signature
            </button>
          </div>
        </div>

        <!-- Existing Signatures List -->
        <h6 class="mb-3">Your Signatures</h6>
        <div class="row">
          <div class="col-md-4 mb-3" *ngFor="let signature of savedSignatures">
            <div class="card shadow-sm">
              <div class="card-body">
                <img [src]="signature.signatureData || signature.url" 
                     class="img-fluid mb-2" 
                     style="max-height: 100px;" 
                     alt="Signature Preview"
                     (load)="onImageLoad($event, signature)"
                     (error)="onImageError($event, signature)">
                <h6 class="card-title mb-2">{{signature.name}}</h6>
                <div class="d-flex justify-content-between">
                  <button class="btn btn-sm btn-danger" (click)="deleteSignature(signature.id)">
                    <i-feather name="trash" class="small-icon"></i-feather>
                    Delete
                  </button>
                  <button class="btn btn-sm btn-success" (click)="selectSignature(signature)">
                    <i-feather name="check" class="small-icon"></i-feather>
                    Select
                  </button>
                </div>
                <small class="text-muted d-block mt-2">Added: {{signature.createdAt | date:'medium'}}</small>
              </div>
            </div>
          </div>
          <!-- No signatures message -->
          <div *ngIf="savedSignatures.length === 0" class="col-12">
            <div class="alert alert-info">
              No signatures added yet. Add your first signature above.
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeSignatureModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal backdrop -->
<div class="modal-backdrop fade show" *ngIf="showSignatureModal"></div>